*, h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:hover, a:focus{
	text-decoration: none;
}
ul{
	list-style:none;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #a5a5a5;
	font-size: 12px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/************header***************/
header{
	padding-top: 30px;
	border-bottom: 1px solid #f2f2f2;
}
.cl-flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
header .item{
	margin-bottom: 20px;
}
.logo{
	font-size: 3em;
	color: #42495b;
	font-weight: bold;
	padding-left: 65px;
	position: relative;
	margin-top: -10px;
}
.logo span{
	color: #07d79b;
}
.logo:before{
	content: "";
	position: absolute;
	background-image: url(../images/logo_top.png);
	background-repeat: no-repeat;
	width: 76px;
	height: 64px;
	top:0;
	left: -15px;
}
.top-cat button{
	border: none;
	background-color: transparent;
	color: #42495b;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.top-cat button:hover, .top-cat button:focus{
	color: #07d79b;
}
.fa-check-square{
	font-size: 14px;
	margin-right: 5px;
}
.top-cat h6{
	display: inline-block;
	color: #42495b;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}
.search-form{
	max-width: 250px;
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.stylish-input-group .input-group-addon{
    background: white !important;
    border: none; 
}
.stylish-input-group .form-control{
	border: none; 
	-webkit-box-shadow:0 0 0; 
	        box-shadow:0 0 0; 
	border-color:#ccc;
	margin-bottom: 0;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.search-form:active,.search-form:hover, .search-form:focus{
	border: 1px solid #07d79b;
	-webkit-box-shadow:0 0 5px #07d79b;
	        box-shadow:0 0 5px #07d79b;
}
.icon-link a{
	color: #42495b;
	font-size: 14px;
	-webkit-transition: all linear 1s;
	-o-transition: all linear 1s;
	transition: all linear 1s;
}
.icon-link sup{
	margin-left: 3px;
	background-color: #daf9f0;
	color: #07d79b;
	border-radius: 50%;
	padding:2px 4px;
}
.icon-link a:active, .icon-link a:hover, .icon-link a:focus {
    color: #07d79b;
}
.become button{
	color: #a5a5a5;
	text-transform: uppercase;
	background-color: #07d79b;
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 5px 10px;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.become button:hover, .become button:focus{
	color: #07d79b;
	background-color: #fff;
	border: 1px solid #07d79b;
}
.sign a{
	text-transform: uppercase;
	color:  #42495b;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.sign a:hover, .sign a:focus{
	color: #07d79b;}




/***********menu**************/
#menu{
    padding-right: 0;
    padding-left: 0;
}
.navbar-nav li{
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 25px;
}
.navbar-nav li a{
	color: #42495b;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}
.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active{
	color: #07d79b;
	background-color: transparent;
}
.navbar-nav .active-li{
	color: #07d79b;
	padding-left: 0;
}
.navbar-toggle .icon-bar{
	background-color: #a5a5a5;
}


/********section one***********/
.title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.title h4{
	font-size: 14px;
	color: #42495b;
	text-transform: uppercase;
}
.result span{
	color: #42495b;
}
.filters{
	margin: 20px 0;
}
.filters li{
	display: inline-block;
	margin-bottom:10px;
}
.filters li a{
	color: #a5a5a5;
	padding:5px 20px;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin-right: 15px;
	position: relative;
}
.filters .fa-times-circle{
	margin-right: 7px;
	font-size:14px;
}
.filters .active-li{
	color: #07d79b;
	border: 1px solid #07d79b;
	border-radius: 50px;
	-webkit-transition: all ease 2s;
	-o-transition: all ease 2s;
	transition: all ease 2s;
}
.filters .active-li:hover{
	color: #fff;
	background-color: #07d79b;
}
.btn-filters{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.btn-group{
	display: block;
	width: 100%;
}
.title-button{
	font-size: 11px;
	background-color: #fff;
	color: #a5a5a5;
	border-radius: 3px;
	border: 1px solid #a5a5a5;
	padding:5px 5px 5px 20px;
	width: 100%;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	text-align: left;
	position: relative;
	margin-bottom: 20px;
}
.title-button:after{
	content: "";
	position: absolute;
	background-image: url(../images/icon-btn.png);
	background-repeat: no-repeat;
	width:15px;
	height: 15px;
	top: 5px;
	right: 8px;
}

.dropdown-menu{
	width: 100%;
	margin-top: -5px;
}
.li-width{
	padding: 10px;
}
.li-width h5{
	font-size: 14px;
	margin-bottom: 20px;
	color: #42495b; 
}
.input-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.show-form{
	display: block;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 2px 4px #a5a5a5;
	        box-shadow: 0 2px 4px #a5a5a5;
	padding: 10px;
}
label{
	font-size:12px;
	font-weight: 400;
	color: #42495b; 
}
.input-items span{
	font-size: 12px;
}
input[type="checkbox"]{
	margin-right: 7px;
}
/********section two***********/
.sort-by{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 20px 0;
}
.sort-it{
	display: inline-block;
	margin-left: 10px;
}
.sort-by select{
	border-radius: 2px;
}
.sort-by button{
	border: none;
	background-color: transparent;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.sort-by button:hover, .sort-by button:focus{
	color: #07d79b;
}
.sort-by .fas{
	font-size: 14px;
}
.fa-th{
	color: #07d79b;
}

.course-items{
	-webkit-box-shadow: 0 2px 12px #dedede;
	        box-shadow: 0 2px 12px #dedede;
	padding-right: 0;
	padding-left: 0;
	cursor: pointer;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.course-items:hover{
	-webkit-box-shadow: 0 2px 30px #a5a5a5;
	        box-shadow: 0 2px 30px #a5a5a5;
}
.course-img img{
	width: 100%;
}
.course-img{
	position: relative;
}
.course-img:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/best-seller.png);
	width: 26px;
	height: 100px;
}
.course-img:after{
	content: "";
	position: absolute;
	bottom: -10px;
	left: 25px;
	background-image: url(../images/bundle.png);
	width: 60px;
	height: 20px;
}
.course-info{
	margin:25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.course-info h3{
	font-size: 18px;
	color: #42495b;
}
.fio{
	margin: 20px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.fio img{
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}
.fio p{
	font-size: 1.2em;
	line-height: 1.2em;
}
.course-ft{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}
.icon span:first-child{
	margin-right: 10px;
}
.price{
	font-size:1.5em;
	color: #07d79b;
	font-weight: 600;
}

/*************footer***********/
footer{
	margin-top: 80px;
	padding-top: 50px;
	background-color: #343a48;
	color: #666d7f 
}
.logo-ft{
	padding-left: 80px;
	color: #fff;
	margin-bottom: 30px;
}
.logo-ft:before{
	content: "";
	position: absolute;
	background-image: url(../images/logo_bottom.png);
	background-repeat: no-repeat;
	width: 76px;
	height: 64px;
	top:0;
	left: 0;
}
footer p{
	font-size:1.15em;
}
.soc-seti{
	margin-top: 30px;
}
.soc-seti ul li{
	display: inline-block;
}
.soc-seti ul li a{
	color: #a5a5a5;
	background-color: #434956;
	border-radius: 50%;
	padding: 5px 10px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.fa-facebook-f{
	padding: 0 2px;
}
.soc-seti ul li a:hover{
	color: #fff;
}
footer .title{
	color: #fff;
	font-size:1.5em;
	margin: 13px 0 20px 0;
}
.link-list li{
	margin-bottom: 8px;
}
.link-list li a{
	color: #666d7f;
	font-size:1.1em;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.link-list li a:hover{
	color: #07d79b;
}
.contacts{
	display: block;
	color: #fafafa;
	margin-bottom:5px;
}
.right{
	margin-top: 50px;
	border-top: 1px solid #444956;
	padding: 20px 0 5px 0;
}
.right p{
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	color: #9b9ea8;
}


/**********media screen**********/
@media screen and (max-width: 991px){
	.navbar-nav li{
	margin-right: 7px;
	}
}
@media screen and (max-width: 767px){
	.title{
		margin-top: -30px;
	}
	.navbar-nav{
		margin: 0;
	}
	.navbar-nav li {
		text-align: center;
		margin-right:0;
	}
	.link-list li{
		display: inline-block;
		margin-right: 10px;
	}
}